.notification {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  max-width: 1030px;
  padding: 16px;
  border-radius: 10px;
  margin: 20px;
  box-sizing: border-box;
}
