.badge {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  border-radius: 100px;
  padding: 4px 12px;
  box-sizing: border-box;
  white-space: nowrap;
  position: relative;

  &.withStatusIcon {
    padding-left: 20px;

    &::before {
      content: '';
      display: inline-block;
      width: var(--icon-size, 6px);
      height: var(--icon-size, 6px);
      border-radius: 50%;
      background-color: var(--icon-color);
      position: absolute;
      left: 10px;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  .icon {
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      stroke: currentColor;
      fill: none;
    }
  }

  .text {
    margin-left: 2px;
  }
}
