.auth-container {
  background-color: #f7f8f5;
  font-family: 'Inter', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login_page {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  width: 540px;
  border-radius: 16px;
  padding-bottom: 30px;
}

.logo {
  width: 200px;
  padding-top: 30px;
}

.login_title {
  font: 600 32px/150% 'Inter', sans-serif;
  color: #121311;
}

h3 {
  font: 400 16px/150% 'Inter', sans-serif;
  color: #595b58;
  padding-bottom: 20px;
}

.login_page_title_block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-bottom: 30px;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 480px;
  gap: 16px;
}

.form_group {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.form_group label {
  font: 600 12px/150% 'Inter', sans-serif;
  color: #595b58;
  text-align: left;
  padding-left: 20px;
}

form input {
  padding: 15px 20px;
  background-color: #f7f8f5;
  border-radius: 8px;
  border: none;
  font: 400 16px/150% 'Inter', sans-serif;
  width: 100%;
  box-sizing: border-box;
}

form input::placeholder {
  color: #787987;
  opacity: 0.7;
}
.input-field-input {
  position: relative;
}

.password_eye {
  position: absolute;
  right: 13px;
  top: 0px;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 100;
}

.eye_icon {
  font-size: 20px;
  opacity: 0.2;
}

.error_message {
  color: red;
  font-size: 14px;
  margin: -4px 0 4px 0;
  padding-top: 10px;
}

.enter_button_link {
  text-decoration: none;
}

.enter_button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
  border-radius: 38px;
}

.enter_button_p {
  font: 400 14px/150% 'Inter', sans-serif;
  color: #121311;
}

form button {
  background-color: #121311;
  color: white;
  border: none;
  border-radius: 38px;
  font: 600 16px/150% 'Inter', sans-serif;
  cursor: pointer;
  width: 35%;
  transition: background-color 0.3s;
}

.enter_button_text {
  font: 400 14px/150% 'Inter', sans-serif;
  color: #fff;
  padding: 12px 20px;
  text-align: center;
}

.or {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}

.or_left,
.or_right {
  height: 1.2px;
  width: 100%;
  background: #c3c5c0;
}

.social_buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  margin-top: 15px;
}

.social_button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  gap: 8px;
}

.social_button:nth-last-child(1) {
  background-color: #1877f2;
}

.social_button p {
  margin: 0;
  padding: 8px;
}

.google {
  font: 400 14px/150% 'Inter', sans-serif;
  background-color: #fff;
  color: #787987;
  border: 1px solid #c3c5c0;
}

.facebok {
  font: 400 14px/150% 'Inter', sans-serif;
  background-color: #1877f2;
  color: #fff;
}

.bottom_logos {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}

.server_error {
  color: #ff0000;
  margin: 10px 0;
  text-align: center;
}
