@use '../../assets/variable.scss' as *;

.select-button-group {
  display: inline-flex;
  gap: 10px;
  margin-inline: 24px;
  border-radius: 10px;
  padding: 4px;
  background: #f1f5f9;
}

.select-button {
  font: 400 16px/100% 'Inter', sans-serif;
  text-align: center;
  color: $text-secondary;
  padding: 6px 12px;
  transition: box-shadow 0.3s ease, color 0.3s ease;
}

.select-button.selected {
  border-radius: 8px;
  background: #fcfcfd;
  box-shadow: 0px 1px 2px 0px #0000000d;
  color: $text-primary;
}
