@use '../../assets/variable.scss' as *;

.select-button-group {
  display: flex; // Изменяем на flex
  width: 100%; // Занимает всю ширину
  gap: 0; // Убираем промежутки между кнопками
  margin-inline: 0; // Убираем боковые отступы
  border-radius: 10px;
  padding: 4px;
  background: #f1f5f9;
}

.select-button {
  flex: 1;
  font: 400 16px/100% 'Inter', sans-serif;
  text-align: center;
  color: $text-secondary;
  padding: 10px 0;
  transition: box-shadow 0.3s ease, color 0.3s ease;
  border-radius: 0;
  margin: 0;
}

.select-button:first-child {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.select-button:last-child {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.select-button.selected {
  background: #fcfcfd;
  box-shadow: 0px 1px 2px 0px #0000000d;
  color: $text-primary;
}
