.notification {
  display: flex;
  align-items: center;
  border-radius: 8px;
  margin: 20px;
  box-sizing: border-box;

  &.small {
    padding: 8px;
    gap: 8px;
    max-width: 1084px;

    .icon {
      width: 16px;
      height: 16px;
      padding-bottom: 1px;
    }
  }

  &.big {
    padding: 16px;
    gap: 16px;
    border-radius: 10px;
    align-items: flex-start;
    max-width: 1136px;

    .icon {
      width: 36px;
      height: 36px;
    }

    .content {
      flex: 1;
    }
  }

  &.action {
    justify-content: space-between;
    padding: 16px;
    border-radius: 10px;
    max-width: 1030px;
  }

  .content {
    flex: 1;
  }
}
