.range-slider-wrapper {
  width: 600px;
  padding: 20px;
  font-family: Arial, sans-serif;

  .slider-and-inputs {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
    position: relative;

    margin-top: 10px;

    .horizontal-slider {
      flex: 1;
      height: 20px;
      margin: 0;
      position: relative;
    }

    .example-track {
      position: absolute;
      height: 8px;
      background: #e9ecef;
      border-radius: 6px;
      top: 50%;
      transform: translateY(-50%);
    }

    .example-thumb {
      width: 20px;
      height: 20px;
      background: #fff;
      border: 3px solid #0066cc;
      border-radius: 50%;
      cursor: pointer;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      top: 50%;
      transform: translateY(-50%);
      position: absolute;
      z-index: 2;
      outline: none;

      &:last-child {
        right: -10px;
      }
    }

    .input-fields {
      display: flex;
      align-items: center;
      gap: 10px;
      height: 20px;
      margin-top: 0;
      position: relative;
    }

    .range-input {
      width: 80px;
      padding: 12px 13px;
      background: #ffffff;
      border-radius: 8px;
      text-align: left;
      height: 40px;
      border: 1px solid #e4e4e7;
      font: 400 14px/100% 'Inter', sans-serif;
      color: #111827;

      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      &:focus {
        outline: none;
        border-color: #0066cc;
      }
    }
  }
}
